@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div>
        <button class="btn btn-info">Join</button>
        <button class="btn btn-info">Create</button>
        <script src="bootstrap.js" asp-append-version="true"></script>
    </div>
</body>
</html>